In [9]:
import geopandas as gpd,numpy as np,pandas as pd, folium

In [12]:
df = gpd.read_file("../../../../../../Edited Subdivisions Zurikanen Erfan 4-20=2025/subs_plus_new/sub.gdb",layer='final_10_9_25')

In [13]:
# Step 1: Identify duplicated rows
dupes = df[df.duplicated(subset=['subd_id'], keep=False)].copy();dupes

Empty GeoDataFrame
Columns: [subd_id, name, type, unit_cnt, created_us, created_da, last_edite, last_edi_1, shape_star, shape_stle, shape_Leng, issue_date, after_1990, Descr, Shape_Le_1, Shape_Length, Shape_Area, geometry]
Index: []

In [4]:
# Step 2: Split duplicates in half
def mark_half(group):
    half = len(group) // 2   # floor division
    group.loc[group.index[:half], 'replace'] = True
    group.loc[group.index[half:], 'replace'] = False
    return group

dupes = dupes.groupby('subd_id', group_keys=False).apply(mark_half)

# Step 3: Create a pool of new unique IDs
max_id = df['subd_id'].max()
n_new = int(dupes['replace'].sum())  # make sure it's an integer
new_ids = list(range(int(max_id) + 1, int(max_id) + 1 + n_new))

# Step 4: Assign new unique IDs only to the marked half
dupes.loc[dupes['replace'] == True, 'subd_id'] = new_ids

# Step 5: Update original DataFrame
df.update(dupes[['subd_id']])

C:\Users\erfan\AppData\Local\Temp\ipykernel_22192\3006750722.py:8: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dupes = dupes.groupby('subd_id', group_keys=False).apply(mark_half)

In [5]:
df['subd_id'] = df['subd_id'].astype(int)

In [6]:
df

,subd_id,name,type,unit_cnt,created_us,created_da,last_edite,last_edi_1,shape_star,shape_stle,shape_Leng,issue_date,after_1990,Descr,Shape_Length,Shape_Area,geometry
0,4294,UNIVERSITY HEIGHTS,TH,342.0,ISLEYKJ,2012-09-17,ISLEYKJ,2012-09-17,1.852666e+06,6386.815219,6386.815219,12/16/1998,1.0,different phases. I chnaged the boundries base...,6386.862611,1.852661e+06,"MULTIPOLYGON (((1489390.02 570677.77, 1489392...."
1,1,DARBY ACRES,SFR,0.0,ISLEYKJ,2008-10-13,ISLEYKJ,2022-01-31,2.474497e+05,2214.014982,2214.014982,04/19/1962,0.0,,2214.014982,2.474497e+05,"MULTIPOLYGON (((1472879.372 538909.875, 147286..."
2,2,COVENTRY II TOWNHOMES,TH,94.0,ISLEYKJ,2012-09-19,ISLEYKJ,2012-09-19,5.709476e+05,4934.500333,4934.500333,10/29/2007,1.0,,4934.500333,5.709476e+05,"MULTIPOLYGON (((1496948.622 569511.625, 149695..."
3,3,WINDING CREEK AT BACK CREEK,SFR,0.0,ISLEYKJ,2008-10-10,ISLEYKJ,2022-03-04,1.197622e+06,4635.778309,4635.778308,09/19/1994,1.0,,4635.778309,1.197622e+06,"MULTIPOLYGON (((1492292.372 568419.125, 149229..."
4,4,LAKEVIEW II AT FAIRES FARM,SFR,0.0,ISLEYKJ,2008-10-10,ISLEYKJ,2008-10-10,1.629423e+05,1837.950914,1837.950914,04/13/2000,1.0,,1837.950914,1.629423e+05,"MULTIPOLYGON (((1486795.747 567973.375, 148682..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,8306,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2022,NaN,None,1474.536395,1.227242e+05,"MULTIPOLYGON (((1479899.575 498815.222, 148001..."
8843,8307,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2015,NaN,None,1337.402486,1.017195e+05,"MULTIPOLYGON (((1479913.948 499539.234, 148016..."
8844,8308,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2022,NaN,None,6478.090957,1.882213e+06,"MULTIPOLYGON (((1492505.078 583356.414, 149249..."
8845,8309,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2003,NaN,None,7276.356773,2.553921e+06,"MULTIPOLYGON (((1492266.762 586617.121, 149269..."
8846,8310,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2023,NaN,None,8321.080258,1.064968e+06,"MULTIPOLYGON (((1492943.992 586689.959, 149305..."

In [7]:
dupes1 = df[df.duplicated(subset=['subd_id'], keep=False)].copy();dupes1

,subd_id,name,type,unit_cnt,created_us,created_da,last_edite,last_edi_1,shape_star,shape_stle,shape_Leng,issue_date,after_1990,Descr,Shape_Length,Shape_Area,geometry
3809,3972,,,0.0,,,,,0.0,0.0,0.0,06/15/1991,1.0,,3700.381077,6.432939e+05,"MULTIPOLYGON (((1458035.974 582332.275, 145847..."
3810,3972,,,0.0,,,,,0.0,0.0,0.0,06/15/2022,1.0,,20205.538459,2.019651e+07,"MULTIPOLYGON (((1455880.036 581036.571, 145716..."
6575,5890,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2017,NaN,None,1055.325914,6.456110e+04,"MULTIPOLYGON (((1435768.358 629966.509, 143579..."
6576,5890,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2005,NaN,None,1688.721364,1.616354e+05,"MULTIPOLYGON (((1435549.535 629498.945, 143563..."
7308,6669,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/1985,NaN,None,4930.300812,1.360641e+06,"MULTIPOLYGON (((1431048.89 527333.54, 1431093...."
7309,6669,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2005,NaN,None,5827.832288,1.501324e+06,"MULTIPOLYGON (((1431372.568 526229.472, 143140..."
8467,7933,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2016,NaN,None,548.146835,1.746663e+04,"MULTIPOLYGON (((1465137.066 535709.764, 146512..."
8468,7933,None,None,NaN,None,None,None,None,NaN,NaN,NaN,01/01/2020,NaN,None,610.442057,2.037827e+04,"MULTIPOLYGON (((1464514.493 536015.396, 146455..."

In [8]:
# Save back to a new layer in the same geodatabase
df.to_file("../../../../../../Edited Subdivisions Zurikanen Erfan 4-20=2025/final_10_9_25.shp")

C:\Users\erfan\AppData\Local\Temp\ipykernel_22192\4005932729.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  df.to_file("../../../../../../Edited Subdivisions Zurikanen Erfan 4-20=2025/final_10_9_25.shp")
C:\Users\erfan\AppData\Roaming\Python\Python311\site-packages\pyogrio\raw.py:709: RuntimeWarning: Normalized/laundered field name: 'Shape_Length' to 'Shape_Le_1'
  ogr_write(